# Python
__pycache__/
*.py[cod]

# Virtual environment
backend/venv/
venv/

# Environment files
.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# Node
frontend/node_modules/
frontend/dist/

# Vite
*.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
